<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Feb 2019</h4>
                                    <h4 class="subheading">Setup team 01: BoBo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">聽完大家的自我介紹我們三位不同系所的路人之後迅速成立了 team 01 並且確立的題目：解決尷尬</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2019</h4>
                                    <h4 class="subheading">Need Finding</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">訪問、實驗完很多使用者後發現了「尷尬」這個議題也許有點太大，於是我們限縮為「解決桌遊時尷尬的問題」</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2019</h4>
                                    <h4 class="subheading">Prototype</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">確認主題後我們開始作出 lo-fi, mid-fi, hi-fi 的 prototype。在每次的 UI 改動時都把 user experience 放在第一位考量，期望打造出最好用又具設計感的 UI</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019</h4>
                                    <h4 class="subheading">Implementation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">五月開始，我們不但開始實作出夢想中的桌遊 App，也為自己的產品建立的形象網站，期望能夠帶給使用者最棒的桌遊體驗！</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>