<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Featuring ...</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                        <i class="fas fa-pencil-ruler fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">規則書</h4>
                    <p class="text-muted">讓金魚腦的你隨時可以查看規則，並且根據 rule-based 的方式去條列出每個角色要注意的規則</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
                        <i class="fas fa-list-ol fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">桌遊清單</h4>
                    <p class="text-muted">在茫茫桌遊海中找到適合你的桌遊</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                        <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">社交功能</h4>
                    <p class="text-muted">總是湊不齊人玩桌遊？來試試看我們的社交 playground！</p>
                </div>
            </div>
        </div>
        <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
        <!-- <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
    </section>