
.bobo-video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
}
/* 從這裡來的方法 */
/* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.bobo-video {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;
}